---
title: "Notes"
layout: archive
permalink: /notes/
author_profile: true
---

* 2024.10.17 I created a **note** entitled ***"From Classical Heisenberg Model to Spiral Magnetism"***, which guides readers through using the Classical Heisenberg Model to determine the conditions under which spiral-magnetic configuration emerges. The note is available in both ***[the Chinese version “从古典海森堡模型到螺旋磁性”](https://yzhacn.github.io/files/20241017_spiral.pdf)*** and ***[the Japanese version “古典 Heisenberg 模型から螺旋磁性へ”](https://yzhacn.github.io/files/20241017_spiral_ja.pdf)***, and I apologize that there is currently no English version.

* 2024.10.17 I created a **note** entitled ***"One-Dimensional Ising Model: Phase Transition, Symmetry Breaking, and the Critical Exponent of Heat Capacity at Constant Volume"***. The note is available in ***[the Chinese version “一维伊辛(Ising)模型: 相变，对称性破缺与定积热容的临界指数”](https://yzhacn.github.io/files/20241017_ising.pdf)*** only.

{% include base_path %}

{% for post in site.notes %}
  {% include archive-single.html %}
{% endfor %}
